.heroContainer{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
    background-size: cover;
     &::after{
        content: '';    //content hide krny ky liye opacity kam nhi krni agr opacity kam kr dii to iss ki resolution khtm kr dii app n
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(77, 77, 77);
  
    }
    >div{
        position: relative;
        z-index: 10;
        width: 40%;
        color: #fff;
        >h1{
            font-size: 45px;
        >span{
            font-size: 20px;
        }

        }
    }
   
}